<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>
            <main class="homePage">
                <section class="bigContainerHome">

                    <div class="nameContainer">
                        <h1 class="name">
                            Lucila V. Kendziur
                        </h1>
                        <h2 class="name name2">Full Stack Developer</h2>
                    </div>

                    <figcaption class="main-image">
                        <img src="./image/me.svg" alt="picture">
                    </figcaption>
                </section>

                <section class="aboutMe">
                    <div class="sections-banner">
                        <h1 class="name">About me</h1>
                            <a name="about"></a>
                    </div>
                    <%- include('partials/about-me') %>

                   


                </section>

                <section class="skills-Section">
                    <div class="sections-banner">
                        <h1 class="name">Soft Skills</h1>
                            <a name="skills"></a>

                    </div>
                    <%- include('partials/soft-skills') %> 
                    
                </section>

                <section class="skills-Section">
                    <div class="sections-banner">
                        <h1 class="name">Technical Skills</h1>                            

                    </div>
                    <%- include('partials/skills') %>
                    
                </section>


                <section class="projects">
                    <div class="sections-banner">
                        <h1 class="name">Projects</h1>
                            <a name="projects"></a>
                    </div>
                    
                </section>

                <section class="contact">
                    <div class="sections-banner">
                        <h1 class="name" id="link4">Contact </h1>
                            <a name="contact"></a>
                    </div>
                    <%- include('partials/contact') %>
                    
                </section>

            </main>

        <%- include('partials/footer') %>

        <script>

const btnSwitch = document.querySelector('#switch');

btnSwitch.addEventListener('click', () =>{
    document.body.classList.toggle('dark');
    btnSwitch.classList.toggle('active')
})
        </script>
    </body>

</html>